*{
    margin: 0;
    padding: 0;
}


section{
    background-color: #faf3e9fb;
    position: relative;
}
section .image{
    /* position: absolute; */
    margin-left: 500px;
    height: 30px;
    /* left: 800px; */
    /* top: 50px; */
}
.image img{
    width: 70%;
    display: flex;
    /* position: relative; */
}


section .expertise{
    margin: 30px 0px 0px 140px;
    color: rgb(168, 153, 153);
    letter-spacing: 5px;
    font-family: jost, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.story{
    margin: 20px 0px 0px 140px;
    font-size: 40px;
    font-weight: 400;
    text-transform: none;
    font-family: sans-serif;
}

.pera p{
    width: 690px;
    color: rgb(121, 112, 112);
    margin: 30px 0px 0px 140px;
    text-align: left;
    line-height: 23px;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 15px;
    font-family: jost, sans-serif;
    
}

.pera-2 p{
    width: 600px;
    color: rgb(121, 112, 112);
    margin: 30px 0px 0px 140px;
    text-align: left;
    line-height: 23px;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 15px;
    font-family: jost, sans-serif;
}

input{
    margin: 30px 0px 0px 140px;
}